@model MarketApp.VarlikKatmani.Models.Kategori
@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
                <h2 class="mb-0">Kategori Düzenle</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Duzenle", "Kategori", new { area = "Yonetim" }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group row">
                        @Html.LabelFor(x => x.Ad, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <a href="@Url.Action("Listele", "Kategori", new { area = "Yonetim" })" class="btn btn-secondary">İptal</a>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
