@model MarketApp.VarlikKatmani.Models.Kategori
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h2 class="mb-0">Kategori Ekle</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Ekle", "Kategori", new { area = "Yonetim" }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.LabelFor(x => x.Ad, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <a href="@Url.Action("Listele", "Kategori", new { area = "Yonetim" })" class="btn btn-secondary">İptal</a>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
    <script>
        $(document).ready(function () {
            $("form").validate();
        });
    </script>
}